h1 {
text-decoration: underline;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style:italic;
color: #FFFFFF;
}
h2 {
text-align: center;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #9d3a51;
font-weight: bold;
}
.me {
    position: fixed;
    float: left;
}
h2, p {
    margin-left: 820px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: #FFFFFF;
}
h3 {
    margin-left: 820px;
    font-size: 20px;
    text-align: center;
    color: #9d3a51;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #000000;
}
h4 {
    margin-left: 820px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#9d3a51; 
}
h5{
    margin-left: 820px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#9d3a51
}
.container {
    display: flex;
width: 100vw;
height: 30vh;
flex-wrap: wrap;
justify-content: space-evenly;


}
.text-1 {
   background-color: #FFFFFF;
   color: #9d3a51;
   border-radius: 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
   width: 300px; 
   text-align: center;
   align-self:center;
   
}
.text-2 {
background-color: #FFFFFF;
border-radius: 10px;
color:#9d3a51;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
width: 300px;
align-self: center;
text-align:center;
}
.text-3{
    background-color: #FFFFFF ;
    color:#9d3a51;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
    width: 300px;
    align-self: center;
    text-align: center;
}
a{ 
    color:#9d3a51;
}
.text-4 {
    background-color: #FFFFFF;
    border-radius: 10px;
    color:#9d3a51;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 25px;
    width: 300px;
    align-self: center;
    text-align:center;
    }
.text-5 {
background-color: #FFFFFF;
border-radius: 10px;
color:#9d3a51;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
width: 300px;
align-self: center;
text-align:center;
}
.text-6 {
    background-color: #FFFFFF;
    border-radius: 10px;
    color:#9d3a51;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 25px;
    width: 300px;
    align-self: center;
    text-align:center;
    }